*{
padding: 0;
margin: 0;
font-family: sans-serif;
}
body{
    width: 100%;
    background:url(bg1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(230, 152, 50);
    font-weight: bolder;
    cursor: pointer;
    transition: color 0.5s;
}
nav ul li a:hover{
    color: cornflowerblue;
}
.name{
    font-size: 20px;
    color: rgb(79, 74, 74);
    position: absolute;
    bottom: 150px;
    left: 100px;
}
span{
    color: brown;
    font-weight: bold;
}
.name p{
    color: black;
    line-height: 32px;
}
.name a{
    background: brown;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bolder;
    color: antiquewhite;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
img.girl{
    width: 450px;
    height: 480px;
    border-radius: 200px;
    position: absolute;
    bottom: 20px;
}
.image:hover .girl{
    left: 45%;
    
}
.logo{
    width: 150px;
    height: 120px;
}
.container{
    width: 100vw;
    height: 70vh;
}